h1{
    text-align: center;
    font-size: 250%;
    font-style: calc();
    

    
}
body{
    background-image: url("clouds2.jpg");
    text-align: center;
    background-color: black;
    image-resolution: auto;
    border-image-width: auto;
    font-size: 150%;
    color: black;
    background-position: auto;
    background-repeat: calc();
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.white{
    color:rgb(250, 212, 0);
    
}
